@media (min-width: 1024px) and (max-width: 1200px) {

    .intro {
        &__body {
            &_phone {
                right: 370px;
            }
            &-text {
                &-title {
                    font-size: 50px;
                }
            }
        }
    }

    .mission {
        &__about {
            &-content {
                margin-right: 150px;
            }
        }
    }

    .business {
        &__icons {
            &-1 {
                right: -730px;
            }
            &-6 {
                right: -600px;
            }
            &-5 {
                right: 70px;
            }
            &-7 {
                right: -300px;
            }
        }
    }

    .nightlife {
        &__logo {
            right: -875px;
        }
        &__phone {
            max-width: 24%;
            right: -408px;
        }
    }

    .qr {
        &__content {
            a img {
                margin-top: 20%;
            }
            padding-left: 10%;
        }
        &__phone {
            max-width: 20%;
            right: -830px;
        }
    }

    .title {
        font-size: 32px;
    }

    .text {
        font-size: 14px;
    }

    .feedback__form {
        .input:not(.textarea) {
            width: 650px;
            &:nth-child(3) {
                margin-right: 0;
            }
        }
    }

    .generate {
        &__content {
            justify-content: space-around;
        }
    }
    @keyframes text {
        to {
            transform: translateX(130px);
            opacity: 0.5;
            display: none;
        }
    }

} 

@media (min-width: 1087px) and (max-width: 1135px) {
    .qr {
        &__phone {
            max-width: 22%;
            right: -845px;
        }
    }
}

@media (min-width: 1068px) and (max-width: 1086px) {
    .business {
        &__icons {
            &-7 {
                right: 113px !important;
            }
        }
    }
}

@media (min-width: 1025px) and (max-width: 1067) {
    .qr {
        &__phone {
            max-width: 20%;
            right: -828px;
        }
    }
    .nightlife {
        &__phone {
            max-width: 20%;
        }
    }
}