.cookie {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    height: 93px;
    background: #212834;
    margin-top: 0;
    padding: 18px;
    position: fixed;
    bottom: -100px;
    transition: 800ms;
    z-index: 40;
    p {
        padding-left: 100px;
        color: #fff;
        font-family: 'Noto Sans';
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
    }
    button {
        margin-right: 24px;
        width: 132px;
        height: 50px;
        background: rgba(255, 255, 255, 0.1);
        border: 0.5px solid #FFFFFF;
        border-radius: 6px;
        font-family: 'Noto Sans';
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #fff;
        &:hover {
            background-color: #495366;
        }
    }
}
