.footer {
    padding-top: 30px;
    background: url("/src/img/background/flash5.png") 77% 40px/100% no-repeat,
    #000;
    &__content {
        text-align: center;
    }
    &__title {
        font-family: 'Noto Sans';
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
    }
    &__container {
        display: flex;
        justify-content: space-between;
        padding-bottom: 60px;
    }
    &__contacts {
        color: #fff;
        &-email {
            font-family: 'Montserrat';
        }
        &-paragraph {
            font-family: 'AvenirNextCyr-Light', sans-serif;
            &-link {
                text-decoration: none;
                color: #fff;
            }
        }
    }
    &__app {
        justify-content: center;
        column-gap: 50px;
        &-img {
                min-width: 120%;
                margin-top: 32px;
                margin-bottom: 150px;
        }
    }
    &__privacy {
        &-link {
            display: inline-block;
            margin-bottom: 30px;
            text-decoration: none;
            color: #fff;
            font-family: 'AvenirNextCyr-Light', sans-serif;
        }
    }
}