.footer {
    padding-top: 30px;
    background: url("/dist/img/background/flash5.png") 77% 40px/cover no-repeat,
    #000;
    &__content {
        text-align: center;
        a img {
            margin-top: 32px;
            margin-bottom: 150px;
        }
    }
    &__title {
        font-family: 'Noto Sans';
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
    }
    &__container {
        display: flex;
        justify-content: space-between;
        padding-bottom: 60px;
    }
    &__contacts {
        color: #fff;
        &-email {
            font-family: 'Montserrat';
        }
        p {
            font-family: 'Noto Sans';
            a {
                text-decoration: none;
                color: #fff;    
            }
        }
    }
    &__app {
        justify-content: center;
        column-gap: 50px;
        a {
            img {
                min-width: 120%
            }
        }
    }
    &__privacy {
        a {
            display: inline-block;
            margin-bottom: 30px;
            text-decoration: none;
            color: #fff;
            font-family: 'Noto Sans';
        }
    }
}