.generate {
    background: url('/src/img/background/notab.png') center/100% no-repeat,
    url('/src/img/background/flash.png') center/80% no-repeat,
    #000;
    &__phone {
        display: block;
        margin: 0 auto;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        max-width: 35%;
    }
}
