.mission {
    background: url('/dist/img/background/ellipse2.png') no-repeat 95% 63%, #000;
    padding-top: 61px;

    &__blocks {
        margin-top: 130px;
        display: flex;
        justify-content: space-between;
    }
    &__block {
        box-sizing: border-box;
        padding: 25px 73px 64px 55px;
        width: 503px;
        height: 312px;
        font-family: 'Noto Sans';
        font-weight: 700;
        font-size: 30px;
        &:nth-child(2) {
            padding: 60px 73px 44px 55px;
        }
        &-link {
            margin-left: 0;
            font-weight: 400;
            font-size: 24px;
        }
    }
    &__about {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-height: 700px;
        &-phone {
            position: relative;
            left: -250px;
            top: 50%;
            transform: rotate(90deg);
            animation-duration: 1s;
            animation-fill-mode: forwards;
        }
        &-content {
            animation-duration: 1s;
            animation-fill-mode: forwards;
        }
    }
}
